<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Testing</title>
</head>
<body>
    <h1>Fetched Data</h1>
    
    <ul>
        {% for subs in submissions%}
            <li>
                <strong>{{subs.problem.name}}</strong>
                <p>{{subs.problem.tags}}</p>
                <p>{{subs.problem.rating}}</p>
            </li>
        {% endfor %}
    </ul>
</body>
</html>