
{% load static %}
<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>NxtUp - For CP</title>
<link href="https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;600;700&family=JetBrains+Mono:wght@400;500&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'sheet/layout.css' %}">

{% block extra_css %}{% endblock %}
</head>
<body>

<div class="tooltip" id="tooltip"></div>

<!-- NAV -->
<nav>
  <div class="nav-left">
    <a href="{% url 'profile' %}" class="nav-logo">NxtUp</a>
    <a href="{% url 'blind_order' %}" class="nav-link">Blind Order</a>
    <a href="{% url 'topic_wise' %}" class="nav-link">Topic Wise</a>
    <!-- <a href="{% url 'recommendations' %}" class="nav-link">Recommendations</a>
    <a href="{% url 'notes' %}"     class="nav-link">Notes</a> -->
  </div>
  <div class="nav-right">
    
      <button class="theme-btn" id="themeBtn" title="Toggle theme">☀</button>
    <a href="{% url 'profile' %}" class="profile-nav-btn">
      <div class="pfp" style="width:24px;height:24px;font-size:11px;border-radius:6px;background:linear-gradient(135deg,#e8531e,#f0a020)">A</div>
      Profile
    </a>
  </div>
</nav>


{% block body %}
{% endblock %}

{% block extra_js %}{% endblock %}

</body>
</html>