<!DOCTYPE html>
<html>
<head>
    <title>List with Buttons</title>
    <style>
        li {
            margin: 8px 0;
        }

        button {
            margin-left: 10px;
        }
    </style>
</head>
<body>
<h1>Command Center</h1>
<ul>
    <li>Apple <button type="submit" onclick="window.location.href='all_submissions';" class="btn btn-primary">All Submissions</button></li>
    <li>Banana <button>Select</button></li>
    <li>Orange <button>Select</button></li>
    <li>Grapes <button>Select</button></li>
</ul>
<script>


    async function fetch_user_skilltags() {
        try{
            console.log("Calling /Get User Skilltags...");
            const res  = await fetch('/recent_submissions', {
                method:  'GET',
            });
            const data = await res.json();
            console.log("User's Skill tags", data);
            }
        catch(error){
            console.log("Error Occured", error);
        }
        }
    fetch_user_skilltags();
    

</script>
</body>
</html>